/*  your css code here. If applicable */
 main {
	width: 300px;
	padding: 50px;
	background-color: rgb(244, 241, 241);
	box-shadow: 0px 0px 3px;
  }
  img {
	width: 300px;
  }
 
  button {
	background-color: rgb(234, 41, 19);
	color: white;
	padding: ;
	border-radius: 10px;
  }